*~
*.swp
*.orig
*.pyc
*.rej
*.egg
*.jar
.installed.cfg
.svn
.DS_Store
### eclipse/aptana files:
.project
.pydevproject
.idea
.metadata
.settings


__minitage__*

#Locale
*.mo

docs/_build/*
uploads
dev.db
soaring_club.egg-info
develop-eggs
downloads
eggs
log
parts
media/uploads
tmp
build
dist
soaring_club/conf/local/*.py
wsgi.py
fabsettings.py
settings/__init__.py
settings/development.py
settings/production.py
settings/staging.py
settings/email.py
=======
*.log
*.pot
*.pyc
local_settings.py
