{% load i18n %}
<table class="report">
    <caption>
        {% trans "Total" %}: <span abbr="{{ total|floatformat:2 }}" class="dt-number dst-EUR">{{ total|floatformat:2 }}</span>
    </caption>
    <thead>
      <tr>
        <th>{% trans "Reference" %}</th><th>{% trans "Date" %}</th><th>{% trans "Payer" %}</th><th>{% trans "Total" %}</th><th>{% trans "Payment description" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for collect in collects %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td><a href="/admin/collect/{{ collect.id }}/">{{ collect.reference }}</a></td><td>{{ collect.date|date:"j M Y" }}</td><td>{{ collect.payer }}</td><td  abbr="{{ collect.total|floatformat:2 }}"  class="dt-number dst-EUR">{{ collect.total|floatformat:2 }}</td><td>{{ collect.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

