{% extends 'base.html' %}

{% block title %}
Aircraft Log Book - Home
{% endblock %}

{% block header %}
	<div id="logo">
		<h1><a href="/">Volo a Vela</a></h1>
		<p><a href="/">CUS Trento</a></p>
	</div>
{% endblock %}

{% if request.user.is_staff %}
    {% block logs %}
    <li class="current_page_item"><a href="/logs/">Logs</a></li>
    {% endblock %}
{% endif %}    


{% block content %}
	<div class="post">
		<h2 class="title">Tower Station Logger Analyzer</h2>
		<p class="meta">Automatic planes time table generator</p>
		<div class="entry">
		    
            {% if head %}
            {% endif %}    
            {% if flights %}
            <h2>{{ flights|length }} flights found</h2>
                <table class="logs">
                <thead>
                <tr>
                    <th>Glider</th><th><a href="/pilot/" target="_blank">Pilot</a></th><th>Takeoff</th><th>Landing Glider</th><th>Landing Tow</th><th>Tow duration</th><th>Tow cents</th><th>Notes</th>
                    </tr>
                </thead>
                {% for flight in flights %}
                <tr class="{% cycle 'even' 'odd' %}">
                <td>{{ flight.glider }}</td><td><a href="/pilot/{{ flight.pilot.id }}/" target="_blank">{{ flight.pilot }}</a></td><td>{{ flight.takeoff }}</td><td>{{ flight.landing_glider }}</td><td>{{ flight.landing_tow }}</td><td>{{ flight.hours_counter }}</td><td>{{ flight.tow_cost }}</td><td>{{ flight.note }}</td>
                </tr>
               
                {% endfor %}
                </table>

            {% endif %}

    	</div>
	</div>
	<div id="banner"><img src="/media/images/img07.jpg" alt="" /></div>
	<div style="clear: both;">&nbsp;</div>
{% endblock %}{% block sidebar %}
{% endblock %}
{% block column1 %}
{% endblock %}
{% block column2 %}
{% endblock %}

