{% extends 'base.html' %}
{% load i18n %}

{% block title %}
Aircraft Log Book - Flights
{% endblock %}

{% block fullscript %}
   <script type="text/javascript" src="/admin/jsi18n/"></script>
   <script type="text/javascript" src="/admin_media/js/core.js"></script> 
   <script type="text/javascript" src="/admin_media/js/admin/RelatedObjectLookups.js"></script>
   {{ form.media }}
{% endblock %}

{% block header %}
	<div id="logo">
		<h1><a href="/">Volo a Vela</a></h1>
		<p><a href="/">CUS Trento</a></p>
	</div>
{% endblock %}

{% block flights %}
<li class="current_page_item"><a href="/flights/">{% trans "Flights" %}</a></li>
{% endblock %}

{% block content %}
	<div class="post">
		<h2 class="title">{% trans "Flights managment" %}</h2>
		<p class="meta">{% trans "Manage flights stored on data base" %}</p>
		<div class="entry">
            {% if flight %}

                        <div class="float-left required">
                             {{ flight.date }} 
                        </div>                
                        <div class="float-left required">
                            {{ flight.takeoff }} 
                        </div>                
                        <div class="float-left optional">
                             {{ flight.takeoff_field }}
                        </div>                
                        <div class="float-left required">
                             {{ flight.landing }} 
                        </div>                
                        <div class="float-left optional">
                             {{ flight.landing_field }} 
                        </div>                
                        <div class="float-left optional">
                             {{ flight.pilot }} 
                        </div>                
                        <div class="float-left optional">
                             {{ flight.plane }} 
                        </div> 
                        <div class="float-left optional">
                            {{ flight.tow_flight.flight.plane }}
                        </div> 

                        <div class="float-left optional">
                            {{ flight.flight.cost }}
                        </div> 

               
            {% endif %}

    	</div>
	</div>
	<div id="banner"><img src="/media/images/img07.jpg" alt="" /></div>
	<div style="clear: both;">&nbsp;</div>

{% endblock %}{% block sidebar %}
{% endblock %}
{% block column1 %}
{% endblock %}
{% block column2 %}
{% endblock %}

