{% load i18n %}
{% if receipts %}
<table id="receipts_table">
    <caption>
        {% if from and to %}
            {% blocktrans with from|date:"j M Y" as from and to|date:"j M Y" as to %} Period: from {{ from }} to {{ to }}  {% endblocktrans %}
        {% endif %}<br />
        {% trans "Total" %}: <span abbr="{{ total|floatformat:2 }}" class="dt-number dst-EUR">{{ total|floatformat:2 }}</span>
    </caption>
    <thead>
      <tr>
        <th>{% trans "Reference" %}</th><th>{% trans "Date" %}</th><th>{% trans "Payer" %}</th><th>{% trans "Total" %}</th><th>{% trans "Payment description" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for receipt in receipts %}
      <tr class="{% cycle 'even' 'odd' %}">
        <td><a href="/admin/aircraftlogger/receipt/{{ receipt.id }}/">{{ receipt.reference }}</a><td>{{ receipt.date|date:"j M Y" }}</td><td>{{ receipt.payer }}</td><td  abbr="{{ receipt.total|floatformat:2 }}"  class="dt-number dst-EUR">{{ receipt.total|floatformat:2 }}</td><td>{{ receipt.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

