{% extends 'base.html' %}
{% load i18n staticfiles%}

{% block subtitle %}
- Reports
{% endblock %}

{% block stylesheets_bottom %}
<link href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.7.3.custom.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" media="screen" />
<!-- <link href='http://fonts.googleapis.com/css?family=Belleza' rel='stylesheet' type='text/css'> -->
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-i18n.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/reports-ajax.js"></script>
{% endblock %}

{% if user.is_staff %}
{% block admin %}
<li class="current_page_item">
	<a href="/reports/">{% trans "Reports" %}</a>
</li>
{% endblock %}
{% endif %}

{% block content %}
<div class="post">
	<h2 class="title">{% trans "Reports view" %}</h2>

	<div class="results clearance">
		<p class="meta results clearance" style="display: none">
			{% blocktrans %}List of pilots with flight clearance{% endblocktrans %}
		</p>
		{% if clearance %}
		<!-- javascrit not enable or using url selector -->
		<p class="meta">
			{% blocktrans %}List of pilots with flight clearance{% endblocktrans %}
		</p>
		{% endif %}
	</div>

	<div class="results debits">
		<p class="meta results debits" style="display: none">
			{% trans "Report debits for member" %}
		</p>
		<!-- javascrit not enable or using url selector -->
		{% if debits %}
		<p class="meta">
			{% trans "Report debits for member" %}
		</p>
		{% endif %}
	</div>

	<div class="results receipts">
		<p class="meta results receipts" style="display: none">
			{% blocktrans %}Report receipts{% endblocktrans %}
		</p>
		<!-- javascrit not enable or using url selector -->
		{% if receipts %}
		<p class="meta">
			{% blocktrans %}Report receipts{% endblocktrans %}
		</p>
		{% endif %}
	</div>

	<div class="results member">
		<p class="meta results member" style="display: none">
			{% blocktrans %}Member review{% endblocktrans %}
		</p>
		<!-- javascrit not enable or using url selector -->
		{% if member %}
		<p class="meta">
			{% blocktrans %}Member review{% endblocktrans %}
		</p>
		{% endif %}
	</div>

	{% if request.path == "/reports/" %}
	<p class="meta results intro">
		{% trans "Here you find various reports" %}
	</p>
	{% endif %}

	<div id="ajax-entry" class="entry">
		<!-- This content is replaced by AJAX results -->
		{% include "debits_table.html" %}
		{% include "member_table.html" %}
		{% include "receipts_table.html" %}
		{% include "flights_table.html" %}
		{% include "clearance_table.html" %}
	</div>
</div>
{% endblock %}
{% block banner %}
{% if request.path == "/reports/" %}
<div id="banner"><img src="{{ STATIC_URL }}images/img07.jpg" alt="prato fiorito" width="546" height="156" />
</div>
<div style="clear: both;">
	&nbsp;
</div>
{% endif %}
{% endblock %}

<!-- Reports right menu  -->
{% block sidebar %}
<div id="sidebar">
	<div id="reports-forms">
		<!-- Pilots with clearance (accordion structure) -->
		<div>
			<h3><a href="#">{% trans "Pilots with clearance" %}</a></h3>
			<div id="clearance_ajax_form">
				{% include "clearance_form.html" %}
			</div>
		</div>
		<!-- Debits form (accordion structure) -->
		<div>
			<h3><a href="#">{% trans "Debits list" %}</a></h3>
			<div id="debits_ajax_form">
				{% include "debits_form.html" %}
			</div>
		</div>
		<!-- Receipts form (accordion structure) -->
		<div>
			<h3><a href="#">{% trans "Receipts list" %}</a></h3>
			<div id="receipts_ajax_form">
				{% include "receipts_form.html" %}
			</div>
		</div>
		<!-- Member form (accordion structure) -->
		<div>
			<h3><a href="#">{% trans "Show as another member" %}</a></h3>
			<div id="member_ajax_form">
				{% include "member_form.html" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block column1 %}
{% endblock %}

{% block column2 %}
{% endblock %}
